<section class="section section--dark">
  <div class="container">
    <div class="col col--8">
      <h1>Sign Up</h1>
      <h4>Check your name and email are correct, then pick a plan</h4>
    </div>
  </div>
</section>

<div class="section sign-up__form">
  {{#if (eq model.section "plan")}}
  <section class="section sign-up__plan">
    <div class="container">
      <h2>Choose your plan</h2>
      <p>We have retrieved the following information from Github. If this is incorrect, please change it.</p>
      <p><strong>Name:</strong> {{form-input questionType="text" name="fullName" value=user.name}}<br>
      <strong>Email:</strong> {{form-input questionType="text" name="emailAddress" value=user.email}}</p>

      <div class="pricing-pods">
          <div class="pricing-pod" {{action "setPlanType" "open-source" "user.id"}}>
            <div class="pricing-pod__wrapper">
              <h3 class="pricing-pod__title h3--light">Open-source<sup>*</sup></h3>
              <div class="pricing-pod__description">
                <p><strong>20hrs p/m runtime</strong></p>
              </div>
              
              <hr>
              
              <h3 class="pricing-pod__price"><strong>Free</strong></h3>
              
              <div class="pricing-pod__byline">Each additional hour $2.50</div>
              
              <span class="pricing-pod__cta btn">Choose plan</span>

              <div class="pricing-pod__terms">
                <p class="xs-copy text-center"><em>* all code submitted must have an OSI-approved open source license, and as such may be redistributed by Reconfigure.io under the appropriate terms. Any code without a suitable license may be removed and access restricted at any time.</em></p>
              </div>
            </div>
          </div>

          <div class="pricing-pod" {{action "setPlanType" "single-user" "user.id"}}>
            <div class="pricing-pod__wrapper">
              <h3 class="pricing-pod__title h3--light">Single-user</h3>
              <div class="pricing-pod__description">
                <p><strong>80hrs p/m runtime</strong><br>Priority chat and email support</p>
              </div>
              
              <hr>
              
              <h3 class="pricing-pod__price"><strong>$250pm <span class="sm-copy">+ VAT</span></strong></h3>
              
              <div class="pricing-pod__byline">Each additional hour $2.50</div>
              
              <span class="pricing-pod__cta btn">Choose plan</span>
            </div>
          </div>

          <div class="pricing-pod">
            <a href="mailto:enterprise@reconfigure.io">
              <div class="pricing-pod__wrapper">
                <h3 class="pricing-pod__title h3--light">Enterprise</h3>
                
                <div class="pricing-pod__description">
                  <p><strong>Unlimited runtime</strong><br>Phone support</p>
                </div>
                
                <hr>
                
                <h3 class="pricing-pod__price"><strong>POA</strong></h3>
                
                <span class="pricing-pod__cta btn" target="_blank">Enquire</span>
              </div>
            </a>
          </div>
        </div>
    </div>
  </section>
  {{/if}}

  {{#if (eq model.section 'billingInfo')}}
  <section class="section">
    <div class="container sign-up__billing">
      <div class="col col--8">
        <h2>Billing Information</h2>
        <p>Input your credit card and billing information. We'll never bill you without your permission.</p>
        <p><em>* Please note: Your credit card will not be charged for open-source access.</em></p>
      </div>
      <div class="col col--8">
        <form id="billingInformation" class="form form--actions">
          <h3>Card Details</h3>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Card holders name" name="cardName" value=billing.name required="true"}}
          </div>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Card number" name="cardNumber" placeholder=fullCard required="true" max="16"}}
          </div>

          <div class="col col--4 col--6--tablet col--padding-right col--clear">
            {{form-input questionType="number" label="Expiry Month" name="cardExpiryMonth" value=billing.exp_month required="true" max="2"}}
          </div>

          <div class="col col--4 col--6--tablet col--padding-left">
            {{form-input questionType="number" label="Expiry Year" name="cardExpiryYear" value=billing.exp_year required="true" max="4"}}
          </div>

          <div class="col col--4 col--6--tablet col--clear">
            {{form-input questionType="number" label="CVC" name="cardCvc" placeholder=cvc required="true" max="3"}}
          </div>

          <div class="clear"></div>

          <h3>Billing Address</h3>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Address line 1" name="addressLine1" value=billing.address_line1 required="true"}}
          </div>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Address line 2" name="addressLine2" value=billing.address_line2}}
          </div>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="City" name="addressCity" value=billing.address_city required="true"}}
          </div>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Postcode" name="addressZip" value=billing.address_zip required="true"}}
          </div>

          <div class="col col--8 col--clear">
            {{form-input questionType="text" label="Country" name="addressCountry" value=billing.address_country required="true"}}
          </div>

          <div class="form-messages col col--8"></div>

          <div class="actions">
            <button type="submit" class="btn" {{action "submitPaymentMethod"}}><span>Sign up</span></button>
          </div>
        </form>

      </div>

    </div>
  </section>
  {{/if}}

  <div class="container">
    By signing up, you agree to our <a target="_blank" href="http://reconfigure.io/agreement">Customer Agreement</a>, and you can view our <a target="_blank" href="http://reconfigure.io/privacy">Privacy Policy</a>.
  </div>

</div>
