<div class="card card--base">
  <div class="wrapper">
    <div class="card__image">
      <img src="{{image}}" alt="">
    </div>

    <div class="card__content">
      <h3 class="card__title">{{title}}</h3>
      <p class="sm-copy card__description">{{description}}</p>
      <a href="{{linkUrl}}" class="card__link link link--next" target="_target">{{linkTitle}}</a>
    </div>
  </div>
</div>
